extends ../layout.pug

block content
    section.publication 
        .container-outer 
            h1.section-title.blog-list__title #{title}
            a.back.publication__back(href="blog.html") Вернуться
            img.publication__banner(src="./assets/images/img/blog-1.png", alt="blog main image")
            .publication__content
                .container-inner
                    p.
                        Сетевое издание “Обзор рынков” — это источник всесторонней бизнес-информации, 
                        предоставляющий наиболее актуальные данные в таких отраслях, как розничная торговля, услуги
                        и финансы. Ресурс позволяет узнать не только юридическую информацию о множестве компаний,
                        но и дает возможность ознакомиться с их спецификой, историей и последними новостями.
                    p.
                        Подробные профили и анализы от “Обзора рынков” проливают свет на ведущих 
                        ритейлеров из таких сфер, как косметика, ювелирные изделия, одежда и электроника. 
                        Также ресурс позволяет читателям узнать самую полную информацию о крупных банках 
                        и микрофинансовых организациях. Наконец, данный портал дает возможность 
                        получить обширные сведения о сервисах электронных книг
                        и доставки продуктов, авиакомпаниях, электронных справочниках, онлайн-кинотеатрах, 
                        операторах связи, музыкальных и скидочных сервисах.
    include ../includes/mixins
    +recent-posts
