extends ../layout.pug

block content
    section.blog-list 
        .container-outer 
            h1.section-title.blog-list__title #{title}
            .grid-layout.blog-list__grid-layout
                .card.blog-item
                    a.blog-item__link(href="blog-publication.html")
                        img.blog-item__image(src="/assets/images/img/blog-1.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title Обзор сайта АКЦ
                            p.blog-item__description. 
                                Сетевое издание “Обзор рынков” — это источник всесторонней бизнес-информации, 
                                предоставляющий наиболее актуальные данные в таких отраслях...
                .card.blog-item
                    a.blog-item__link(href="blog-publication.html")
                        img.blog-item__image(src="/assets/images/img/blog-2.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title Обзор сайта АКЦ
                            p.blog-item__description. 
                                Сетевое издание “Обзор рынков” — это источник всесторонней бизнес-информации, 
                                предоставляющий наиболее актуальные данные в таких отраслях...
                .card.blog-item
                    a.blog-item__link(href="blog-publication.html")
                        img.blog-item__image(src="/assets/images/img/blog-3.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title Обзор сайта АКЦ
                            p.blog-item__description. 
                                Сетевое издание “Обзор рынков” — это источник всесторонней бизнес-информации, 
                                предоставляющий наиболее актуальные данные в таких отраслях...
                .card.blog-item
                    a.blog-item__link(href="blog-publication.html")
                        img.blog-item__image(src="/assets/images/img/blog-1.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title Обзор сайта АКЦ
                            p.blog-item__description. 
                                Сетевое издание “Обзор рынков” — это источник всесторонней бизнес-информации, 
                                предоставляющий наиболее актуальные данные в таких отраслях...
                .card.blog-item
                    a.blog-item__link(href="blog-publication.html")
                        img.blog-item__image(src="/assets/images/img/blog-2.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title Обзор сайта АКЦ
                            p.blog-item__description. 
                                Сетевое издание “Обзор рынков” — это источник всесторонней бизнес-информации, 
                                предоставляющий наиболее актуальные данные в таких отраслях...
                .card.blog-item
                    a.blog-item__link(href="blog-publication.html")
                        img.blog-item__image(src="/assets/images/img/blog-3.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title Обзор сайта АКЦ
                            p.blog-item__description. 
                                Сетевое издание “Обзор рынков” — это источник всесторонней бизнес-информации, 
                                предоставляющий наиболее актуальные данные в таких отраслях...
                .card.blog-item
                    a.blog-item__link(href="blog-publication.html")
                        img.blog-item__image(src="/assets/images/img/blog-1.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title Обзор сайта АКЦ
                            p.blog-item__description. 
                                Сетевое издание “Обзор рынков” — это источник всесторонней бизнес-информации, 
                                предоставляющий наиболее актуальные данные в таких отраслях...
                .card.blog-item
                    a.blog-item__link(href="blog-publication.html")
                        img.blog-item__image(src="/assets/images/img/blog-2.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title Обзор сайта АКЦ
                            p.blog-item__description. 
                                Сетевое издание “Обзор рынков” — это источник всесторонней бизнес-информации, 
                                предоставляющий наиболее актуальные данные в таких отраслях...
                .card.blog-item
                    a.blog-item__link(href="blog-publication.html")
                        img.blog-item__image(src="/assets/images/img/blog-3.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title Обзор сайта АКЦ
                            p.blog-item__description. 
                                Сетевое издание “Обзор рынков” — это источник всесторонней бизнес-информации, 
                                предоставляющий наиболее актуальные данные в таких отраслях...
                .card.blog-item
                    a.blog-item__link(href="blog-publication.html")
                        img.blog-item__image(src="/assets/images/img/blog-1.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title Обзор сайта АКЦ
                            p.blog-item__description. 
                                Сетевое издание “Обзор рынков” — это источник всесторонней бизнес-информации, 
                                предоставляющий наиболее актуальные данные в таких отраслях...
                .card.blog-item
                    a.blog-item__link(href="blog-publication.html")
                        img.blog-item__image(src="/assets/images/img/blog-2.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title Обзор сайта АКЦ
                            p.blog-item__description. 
                                Сетевое издание “Обзор рынков” — это источник всесторонней бизнес-информации, 
                                предоставляющий наиболее актуальные данные в таких отраслях...
                .card.blog-item
                    a.blog-item__link(href="blog-publication.html")
                        img.blog-item__image(src="/assets/images/img/blog-3.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title Обзор сайта АКЦ
                            p.blog-item__description. 
                                Сетевое издание “Обзор рынков” — это источник всесторонней бизнес-информации, 
                                предоставляющий наиболее актуальные данные в таких отраслях...
            .pagination
                a.button.pagination__prev.pagination__prev_disabled(href="") Предыдущая страница
                a.button.pagination__next(href="") Следующая страница
            //- .pagination
            //-     a.button.pagination__prev(href="") Предыдущая страница
            //-     a.button.pagination__next.pagination__next_disabled(href="") Следующая страница
            //- .pagination
            //-     a.button.pagination__prev(href="") Предыдущая страница
            //-     a.button.pagination__next(href="") Следующая страница