extends ../layout.pug

block content 
    section.hero 
        .container-outer 
            .hero__banner
                h1.hero__title <strong>Digital</strong><br> Marketing Blog
    include ../includes/mixins
    +intro('quote')
    +intro('foto')
    +intro
    +recent-posts('full')
    +recent-news('full')