extends ../layout.pug

block content
    section.blog-list 
        .container-outer 
            h1.section-title.blog-list__title #{title}
            .grid-layout.blog-list__grid-layout.news-swiper
                .card.blog-item
                    a.blog-item__link(href="news-publication.html")
                        img.blog-item__image(src="/assets/images/img/news-1.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title.
                                Букмекер выставил коэффициент
                                20,00 на то, что итальянские клубы
                                выиграют все еврокубки
                            time.time.blog-item__time 10.05.2023
                .card.blog-item
                    a.blog-item__link(href="news-publication.html")
                        img.blog-item__image(src="/assets/images/img/news-2.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title.
                                Игровые автоматы вновь появились
                                в торговых центрах и подземных
                                переходах Татарстана
                            time.time.blog-item__time 02.05.2023
                .card.blog-item
                    a.blog-item__link(href="news-publication.html")
                        img.blog-item__image(src="/assets/images/img/news-3.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title.
                                В России объём рынка киберспортивных
                                клубов достиг 20 миллиардов рублей
                            time.time.blog-item__time 17.04.2023
                .card.blog-item
                    a.blog-item__link(href="news-publication.html")
                        img.blog-item__image(src="/assets/images/img/news-1.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title.
                                Букмекер выставил коэффициент
                                20,00 на то, что итальянские клубы
                                выиграют все еврокубки
                            time.time.blog-item__time 10.05.2023
                .card.blog-item
                    a.blog-item__link(href="news-publication.html")
                        img.blog-item__image(src="/assets/images/img/news-2.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title.
                                Игровые автоматы вновь появились
                                в торговых центрах и подземных
                                переходах Татарстана
                            time.time.blog-item__time 02.05.2023
                .card.blog-item
                    a.blog-item__link(href="news-publication.html")
                        img.blog-item__image(src="/assets/images/img/news-3.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title.
                                В России объём рынка киберспортивных
                                клубов достиг 20 миллиардов рублей
                            time.time.blog-item__time 17.04.2023
                .card.blog-item
                    a.blog-item__link(href="news-publication.html")
                        img.blog-item__image(src="/assets/images/img/news-1.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title.
                                Букмекер выставил коэффициент
                                20,00 на то, что итальянские клубы
                                выиграют все еврокубки
                            time.time.blog-item__time 10.05.2023
                .card.blog-item
                    a.blog-item__link(href="news-publication.html")
                        img.blog-item__image(src="/assets/images/img/news-2.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title.
                                Игровые автоматы вновь появились
                                в торговых центрах и подземных
                                переходах Татарстана
                            time.time.blog-item__time 02.05.2023
                .card.blog-item
                    a.blog-item__link(href="news-publication.html")
                        img.blog-item__image(src="/assets/images/img/news-3.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title.
                                В России объём рынка киберспортивных
                                клубов достиг 20 миллиардов рублей
                            time.time.blog-item__time 17.04.2023
                .card.blog-item
                    a.blog-item__link(href="news-publication.html")
                        img.blog-item__image(src="/assets/images/img/news-1.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title.
                                Букмекер выставил коэффициент
                                20,00 на то, что итальянские клубы
                                выиграют все еврокубки
                            time.time.blog-item__time 10.05.2023
                .card.blog-item
                    a.blog-item__link(href="news-publication.html")
                        img.blog-item__image(src="/assets/images/img/news-2.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title.
                                Игровые автоматы вновь появились
                                в торговых центрах и подземных
                                переходах Татарстана
                            time.time.blog-item__time 02.05.2023
                .card.blog-item
                    a.blog-item__link(href="news-publication.html")
                        img.blog-item__image(src="/assets/images/img/news-3.png", alt="blog image")
                        .blog-item__wrapper
                            h3.blog-item__title.
                                В России объём рынка киберспортивных
                                клубов достиг 20 миллиардов рублей
                            time.time.blog-item__time 17.04.2023
            .pagination
                a.button.pagination__prev.pagination__prev_disabled(href="") Предыдущая страница
                a.button.pagination__next(href="") Следующая страница
            //- .pagination
            //-     a.button.pagination__prev(href="") Предыдущая страница
            //-     a.button.pagination__next.pagination__next_disabled(href="") Следующая страница
            //- .pagination
            //-     a.button.pagination__prev(href="") Предыдущая страница
            //-     a.button.pagination__next(href="") Следующая страница