extends ../layout.pug

block content
    section.publication 
        .container-outer 
            h1.section-title.blog-list__title #{title}
            a.back.publication__back(href="news.html") Вернуться
            img.publication__banner(src="./assets/images/img/publication.png", alt="news main image")
            .container-inner 
                .publication__content.publication__content-news
                    p.
                        На что грузить в заключительном матче 28-го тура РПЛ?В понедельник, 22 мая, «Пари Нижний Новгород»
                        примет «Сочи» в матче 28-го тура чемпионата России по футболу. Матч в Нижнем Новгороде начнется в 19:00
                        по московскому времени. Букмекерская компания PARI оценила шансы соперников, сообщила о предпочтениях 
                        клиентов и самой крупной ставке.
                    p.
                        По мнению аналитиков, фаворита в предстоящей встрече нет — на победу каждой из команды можно поставить
                        с коэффициентом 2,75, что составляет 35% вероятности. На ничью дают 3,15 (вероятность – 30%). 
                        Если будет забито два и более мячей, сыграет ставка за 2,40. Обмен голами котируется за 2,08.
                    p.
                        Клиенты букмекерской компании склоняются к победе гостей — на них приходится 
                        около 47% от всего объема ставок на исход матча. На «Пари НН» сделан 41% и еще 12% приходится на ничью. 
                        Самая крупная ставка на предстоящий матч — 95 000 рублей. Она сделана на то, что обе команды забьют, 
                        по коэффициенту 2,08. «Сочи» после 27 туров набрал 37 очков и занимает десятое место в турнирной таблице РПЛ. 
                        У «Пари НН» — 23 очка и 14-я позиция. В матче первого круга, который состоялся в Сочи 7 августа 2022-го, 
                        южане победили со счетом 2:1. На голы Кристиана Нобоа и Артура Юсупова нижегородцы 
                        ответили результативным ударом Иброхимхалила Юлдошева.
                    
                    time.time.publication__time 29.05.23
    
    include ../includes/mixins
    +recent-news
