@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.ttf") format("TrueType");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.ttf") format("TrueType");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.ttf") format("TrueType");
  font-weight: 900;
  font-style: normal;
}
/* < --- RESET CSS --- > */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* < ---/ RESET CSS /--- > */
/* < --- VARIABLES --- > */
/* < --- VARIABLES --- > */
/* < --- COMPONENTS --- > */
body {
  color: #282828;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3em;
  background-color: #f4f4f4;
  overflow-x: hidden;
}
body > div {
  overflow-x: hidden;
}
body._active {
  overflow: hidden;
}
body._active > div {
  overflow: hidden;
}

html,
body {
  scroll-behavior: smooth;
}

a {
  color: #282828;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 50px;
  line-height: 1.3em;
}

h2,
h3 {
  font-size: 40px;
}
@media (max-width: 700px) {
  h2,
  h3 {
    font-size: 30px;
  }
}

strong {
  font-weight: 600;
}

.container-outer {
  max-width: 1336px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-inner {
  max-width: 856px;
  margin: 0 auto;
}

.swiper {
  box-sizing: content-box;
}

.button {
  display: inline-block;
  border-radius: 50px;
  color: #ffffff;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  background-color: #282828;
}
.button:hover, .button:focus {
  background-color: #6a87ec;
}
.button_accent {
  background-color: #6a87ec;
}
.button_accent:hover, .button_accent:focus {
  background-color: #282828;
}
.button_selected {
  background-color: #6a87ec;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
@media (max-width: 700px) {
  .cards {
    gap: 18px;
  }
}
@media (max-width: 500px) {
  .cards {
    flex-direction: column;
    gap: 10px;
  }
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  transition-property: background-color, box-shadow;
  transition-duration: 0.3s;
  overflow: hidden;
  border-radius: 10px;
}
.card:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.08);
}
.card_accent {
  background-color: #6a87ec;
}
.card_accent:hover {
  background-color: #6a87ec;
}

.time {
  display: inline-block;
  font-size: 12px;
  color: #282828;
  opacity: 0.5;
}

.section-title {
  line-height: 1.3em;
  text-wrap: balance;
  font-size: 50px;
}
@media (max-width: 800px) {
  .section-title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .section-title {
    font-size: 30px;
  }
}
.section-description {
  display: inline-block;
  line-height: 1.5em;
}
@media (max-width: 700px) {
  .section-description {
    font-size: 12px;
  }
}

h1.section-title {
  font-size: 60px;
}
@media (max-width: 800px) {
  h1.section-title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  h1.section-title {
    font-size: 30px;
    text-align: center;
  }
}

.more,
.back {
  display: inline-block;
  position: relative;
  font-size: 16px;
  transition: color 0.3s;
}
@media (max-width: 800px) {
  .more,
  .back {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .more,
  .back {
    display: block;
    width: max-content;
    margin: 0 auto;
  }
}
.more:hover,
.back:hover {
  color: #6a87ec;
}
.more::after,
.back::after {
  content: "";
  position: absolute;
  display: block;
  width: 17px;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.3s;
}

.back {
  padding-left: 25px;
}
.back::after {
  left: 0px;
  background-image: url(/assets/images/icons/back-arrow.svg);
}
.back:hover::after {
  background-image: url(/assets/images/icons/back-arrow-hover.svg);
}

.more {
  padding-right: 25px;
}
.more::after {
  right: 0px;
  top: 50%;
  background-image: url(/assets/images/icons/more-arrow.svg);
}
.more:hover::after {
  background-image: url(/assets/images/icons/more-arrow-hover.svg);
}

.logo {
  width: 150px;
  aspect-ratio: 150/28;
  z-index: 4;
}
@media (max-width: 800px) {
  .logo {
    width: 120px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  gap: 7px;
}
@media (max-width: 800px) {
  .pagination {
    margin-top: 40px;
  }
}
.pagination__prev, .pagination__next {
  height: 40px;
  background-repeat: no-repeat;
  background-size: 15px, 7px, contain;
}
.pagination__prev {
  aspect-ratio: 1;
  font-size: 0;
  background-image: url(/assets/images/icons/pagination-prev-arrow-light.svg);
  background-position: center;
}
.pagination__prev_disabled {
  pointer-events: none;
  background-color: transparent;
  background-image: url(/assets/images/icons/pagination-prev-arrow-dark.svg);
  border: 1px solid #282828;
}
.pagination__next {
  display: flex;
  align-items: center;
  padding: 0 42px 0 22px;
  background-image: url(/assets/images/icons/pagination-next-arrow-light.svg);
  background-position: right 20px top 50%;
}
.pagination__next_disabled {
  pointer-events: none;
  background-color: transparent;
  color: #282828;
  background-image: url(/assets/images/icons/pagination-next-arrow-dark.svg);
  border: 1px solid #282828;
}

/* < ---/ COMPONENTS /--- > */
/* < --- HEADER --- > */
.header {
  padding: 50px 0;
}
@media (max-width: 700px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 5;
    padding: 30px 0;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo .logo__image {
  width: 100%;
  height: 100%;
  background-size: contain;
}
.header__logo .logo__link {
  display: block;
  width: 100%;
  height: 100%;
}
.header__menu {
  position: relative;
}
.header::before {
  display: none;
  content: "";
  background-color: #f4f4f4;
  position: absolute;
  inset: 0;
  z-index: 1;
}
@media (max-width: 700px) {
  .header::before {
    display: block;
  }
}

.menu {
  z-index: 4;
}
@media (max-width: 700px) {
  .menu {
    z-index: 0;
    top: calc(100% - 100vh);
    position: absolute;
    left: 0;
    transition-property: top;
    transition-duration: 0.5s;
    background-color: #f4f4f4;
    width: 100vw;
    height: 100vh;
    padding: 122px 20px 50px 20px;
  }
}
.menu__icon {
  display: none;
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
@media (max-width: 700px) {
  .menu__icon {
    display: block;
  }
}
.menu__icon span {
  transition: 0.2s ease 0s;
  line-height: 3px;
  top: calc(50% - 1.5px);
  left: 4px;
  position: absolute;
  width: 22px;
  height: 3px;
  background-color: #282828;
  border-radius: 2px;
}
.menu__icon span:first-child {
  top: 4px;
}
.menu__icon span:last-child {
  top: auto;
  bottom: 4.5px;
}
.menu__icon._active span {
  transform: scale(0);
}
.menu__icon._active span:first-child {
  transform: translateX(-1.5px) rotate(-45deg);
  top: calc(50% - 1.5px);
  left: 6.1px;
}
.menu__icon._active span:last-child {
  transform: translateX(-1.5px) rotate(45deg);
  bottom: calc(50% - 1.5px);
  left: 6.1px;
}
.menu__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: min(1.6vw, 45px);
}
@media (max-width: 700px) {
  .menu__list {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
@media (max-width: 700px) {
  .menu__item {
    width: 50%;
  }
}
.menu__link {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  transition: color 0.3s;
}
@media (max-width: 800px) {
  .menu__link {
    font-size: 12px;
  }
}
.menu__link:hover {
  color: #6a87ec;
}
.menu._active {
  top: 0;
  display: block;
}

/* < ---/ HEADER /--- > */
/* < --- HERO --- > */
.hero {
  padding: 45px 0;
}
.hero__banner {
  background-image: url("/assets/images/img/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 165px 105px;
}
@media (max-width: 800px) {
  .hero__banner {
    padding: 120px 70px;
  }
}
@media (max-width: 500px) {
  .hero__banner {
    padding: 80px 30px;
  }
}
.hero__title {
  color: #ffffff;
  font-size: 60px;
}
@media (max-width: 800px) {
  .hero__title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .hero__title {
    font-size: 30px;
  }
}

/* < ---/ HERO /--- > */
/* < --- INTRO --- > */
.intro {
  padding: 80px 0 100px 0;
}
@media (max-width: 500px) {
  .intro {
    padding: 40px 0 60px 0;
  }
}
.intro__container {
  text-align: center;
}
.intro__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.5em;
}
@media (max-width: 800px) {
  .intro__title {
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  .intro__title {
    font-size: 16px;
  }
}
.intro__description {
  font-size: 16px;
  line-height: 2.1em;
  margin-top: 2.1em;
}
@media (max-width: 800px) {
  .intro__description {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .intro__description {
    font-size: 12px;
  }
}
.intro__button {
  font-size: 14px;
  line-height: 1.7em;
  padding: 10px 55px;
  margin-top: 60px;
}
@media (max-width: 800px) {
  .intro__button {
    margin-top: 40px;
  }
}
@media (max-width: 500px) {
  .intro__button {
    font-size: 12px;
    padding: 10px 35px;
    margin-top: 30px;
  }
}

.intro-foto__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1000px) {
  .intro-foto__container {
    gap: 24px;
  }
}
@media (max-width: 700px) {
  .intro-foto__container {
    grid-template-columns: 100%;
    gap: 50px;
  }
}
@media (max-width: 500px) {
  .intro-foto__container {
    gap: 40px;
  }
}
.intro-foto__wrapper {
  display: flex;
  flex-direction: column;
}
.intro-foto__wrapper-left {
  align-items: center;
  justify-content: center;
}
@media (max-width: 700px) {
  .intro-foto__wrapper-left {
    align-items: start;
  }
}
@media (max-width: 500px) {
  .intro-foto__wrapper-left {
    align-items: center;
  }
}
.intro-foto__wrapper-right {
  align-items: start;
  padding-right: min(9vw, 135px);
}
@media (max-width: 1000px) {
  .intro-foto__wrapper-right {
    padding-right: 0;
  }
}
.intro-foto__image {
  width: 315px;
  aspect-ratio: 1;
  border-radius: 50%;
}
@media (max-width: 1000px) {
  .intro-foto__image {
    width: 280px;
  }
}
@media (max-width: 500px) {
  .intro-foto__image {
    width: 240px;
  }
}
.intro-foto__title {
  line-height: 1.7em;
  font-size: 16px;
  font-weight: 700;
}
@media (max-width: 500px) {
  .intro-foto__title {
    font-size: 14px;
  }
}
.intro-foto__description {
  line-height: 1.7em;
  font-size: 16px;
  margin-top: 1.7em;
}
@media (max-width: 800px) {
  .intro-foto__description {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .intro-foto__description {
    font-size: 12px;
  }
}
.intro-foto__button {
  font-size: 14px;
  line-height: 1.7em;
  padding: 10px 55px;
  margin-top: 50px;
}
@media (max-width: 700px) {
  .intro-foto__button {
    margin-top: 30px;
  }
}
@media (max-width: 500px) {
  .intro-foto__button {
    font-size: 12px;
    padding: 10px 35px;
  }
}

.intro-quote__container {
  display: grid;
  max-width: 1096px;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
@media (max-width: 700px) {
  .intro-quote__container {
    grid-template-columns: 100%;
    gap: 50px;
  }
}
@media (max-width: 500px) {
  .intro-quote__container {
    gap: 40px;
  }
}
.intro-quote__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 160px;
}
@media (max-width: 800px) {
  .intro-quote__wrapper {
    padding-top: 120px;
  }
}
@media (max-width: 500px) {
  .intro-quote__wrapper {
    padding-top: 80px;
  }
}
.intro-quote__wrapper-left {
  position: relative;
  padding-right: min(2.6vw, 110px);
  gap: 45px;
}
@media (max-width: 1000px) {
  .intro-quote__wrapper-left {
    padding-right: 0;
  }
}
@media (max-width: 800px) {
  .intro-quote__wrapper-left {
    gap: 30px;
  }
}
.intro-quote__wrapper-left::before {
  content: "“";
  display: block;
  position: absolute;
  top: 0;
  color: #6a87ec;
  font-size: 200px;
  line-height: 1em;
  font-weight: 900;
}
@media (max-width: 800px) {
  .intro-quote__wrapper-left::before {
    font-size: 150px;
  }
}
@media (max-width: 500px) {
  .intro-quote__wrapper-left::before {
    font-size: 100px;
  }
}
@media (max-width: 700px) {
  .intro-quote__wrapper-right {
    padding-top: 0;
  }
}
.intro-quote__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.7em;
  text-wrap: balance;
}
@media (max-width: 800px) {
  .intro-quote__title {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .intro-quote__title {
    font-size: 16px;
  }
}
.intro-quote__description {
  font-size: 16px;
  line-height: 2.1em;
}
@media (max-width: 800px) {
  .intro-quote__description {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .intro-quote__description {
    font-size: 12px;
  }
}
.intro-quote__button {
  font-size: 14px;
  line-height: 1.7em;
  padding: 10px 55px;
}
@media (max-width: 500px) {
  .intro-quote__button {
    font-size: 12px;
    padding: 10px 35px;
  }
}

/* < ---/ INTRO /--- > */
/* < --- BLOG --- > */
.blog {
  padding: 50px 0;
}
@media (max-width: 950px) {
  .blog__container {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .blog__container {
    max-width: none;
  }
}
.blog__title {
  display: inline-block;
}
@media (max-width: 950px) {
  .blog__title {
    margin-left: 20px;
  }
}
@media (max-width: 800px) {
  .blog__title {
    margin-bottom: 0;
  }
}
@media (max-width: 500px) {
  .blog__title {
    display: block;
    text-align: center;
  }
}
.blog__more {
  margin-left: 25px;
}
@media (max-width: 500px) {
  .blog__more {
    margin-left: auto;
    margin-top: 10px;
  }
}
.blog__description {
  display: block;
  margin: 0 auto;
  margin-bottom: 90px;
  max-width: 300px;
  text-align: center;
}
@media (max-width: 700px) {
  .blog__description {
    margin-bottom: 40px;
  }
}
.blog__swiper {
  margin-top: 70px;
  height: 380px;
  overflow: visible;
}
@media (max-width: 800px) {
  .blog__swiper {
    margin-top: 40px;
  }
}
@media (max-width: 950px) {
  .blog__swiper {
    height: 300px;
    padding: 0 20px 50px 20px;
  }
}
@media (max-width: 768px) {
  .blog__swiper {
    padding: 0 max((100% - 636px) / 2, 20px) 40px max((100% - 636px) / 2, 20px);
  }
}
@media (max-width: 540px) {
  .blog__swiper {
    height: 260px;
  }
}
.blog__swiper:first-child {
  margin-top: 0;
}

.blog-item__link {
  display: block;
  width: 100%;
  height: 100%;
}
.blog-item__image-banner {
  width: 100%;
  height: 100%;
  background-image: url(../images/img/banner-416x370.jpg);
  background-size: cover;
  background-position: 50%;
}
@media (max-width: 1250px) {
  .blog-item__image-banner {
    background-image: url(../images/img/banner-690x420.jpg);
  }
}
@media (max-width: 1100px) {
  .blog-item__image-banner {
    background-image: url(../images/img/banner-580x420.jpg);
  }
}
@media (max-width: 800px) {
  .blog-item__image-banner {
    background-image: url(../images/img/banner-416x370.jpg);
  }
}
@media (max-width: 600px) {
  .blog-item__image-banner {
    height: 312px;
  }
}
.blog-item__image, .blog-item img {
  width: 100%;
  height: 216px;
  object-fit: cover;
}
@media (max-width: 950px) {
  .blog-item__image, .blog-item img {
    height: 156px;
  }
}
@media (max-width: 540px) {
  .blog-item__image, .blog-item img {
    height: 126px;
  }
}
.blog-item__wrapper {
  padding: 28px 25px;
}
@media (max-width: 1160px) {
  .blog-item__wrapper {
    padding: 18px;
  }
}
@media (max-width: 540px) {
  .blog-item__wrapper {
    padding: 12px;
  }
}
.blog-item__category {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  transition: color 0.3s;
  margin-bottom: 15px;
}
.blog-item__time {
  display: none;
  transition: color 0.3s;
}
.blog-item__title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  min-height: 1.3em;
  overflow: hidden;
  transition: color 0.3s;
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 700;
  margin-bottom: 0.8em;
}
@media (max-width: 1160px) {
  .blog-item__title {
    font-size: 14px;
  }
}
.blog-item__description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 5.2em;
  line-height: 1.3em;
}
@media (max-width: 500px) {
  .blog-item__description {
    font-size: 12px;
  }
}
.news-swiper .blog-item__title {
  font-weight: 400;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  min-height: 3.9em;
  overflow: hidden;
}
@media (max-width: 500px) {
  .news-swiper .blog-item__title {
    font-size: 12px;
  }
}
.news-swiper .blog-item__description {
  display: none;
}
.news-swiper .blog-item__time {
  display: block;
}

.swiper-pagination-bullet {
  background-color: #6a87ec;
}

/* < ---/ BLOG /--- > */
/* < --- BLOG-LIST --- > */
.blog-list {
  padding: 40px 0;
}
@media (max-width: 500px) {
  .blog-list__title {
    text-align: center;
  }
}
.blog-list .blog-item {
  max-height: 370px;
}
@media (max-width: 768px) {
  .blog-list .blog-item {
    max-height: 362px;
  }
}
.blog-list .blog-item__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.blog-list__grid-layout {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  gap: 24px;
  margin-top: 100px;
}
@media (max-width: 800px) {
  .blog-list__grid-layout {
    margin-top: 50px;
  }
}
@media (max-width: 900px) {
  .blog-list__grid-layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 40px;
  }
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
@media (max-width: 1250px) {
  .grid-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 950px) {
  .grid-layout {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .grid-layout {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media (max-width: 600px) {
  .grid-layout {
    grid-template-columns: min(100%, 350px);
    gap: 20px;
    justify-content: center;
  }
}
/* < ---/ BLOG-LIST /--- > */
/* < --- FOOTER --- > */
.footer {
  padding: 125px 0 55px 0;
}
@media (max-width: 800px) {
  .footer {
    padding: 75px 0 20px 0;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  border-radius: 20px;
  padding: 80px min(6vw, 85px) 70px;
}
@media (max-width: 700px) {
  .footer__container {
    padding: 50px min(6vw, 85px) 40px;
  }
}
@media (max-width: 500px) {
  .footer__container {
    flex-direction: column;
    gap: 20px;
  }
}
.footer__copyright {
  color: #ffffff;
  line-height: 1.7em;
  font-size: 10px;
}

/* < ---/ FOOTER /--- > */
/* < --- ABOUT --- > */
.about {
  padding: 40px 0;
}
.about__layout {
  display: grid;
  gap: 70px;
  margin-top: 80px;
}
@media (max-width: 800px) {
  .about__layout {
    gap: 50px;
    margin-top: 40px;
  }
}
.about__layout:has(.about__image) {
  margin-top: 50px;
}
.about__layout_sidebar-right {
  grid-template-columns: 1.8fr 1fr;
  gap: min(8vw, 115px);
}
@media (max-width: 1100px) {
  .about__layout_sidebar-right {
    gap: 24px;
  }
}
@media (max-width: 800px) {
  .about__layout_sidebar-right {
    grid-template-columns: 1fr;
    margin-top: 40px;
    gap: 50px;
  }
}
.about__layout_sidebar-right:has(.about__image) {
  margin-top: 50px;
}
.about__layout_sidebar-right:has(.about__image) > .about__content + .about__form {
  padding-top: 70px;
}
@media (max-width: 800px) {
  .about__layout_sidebar-right:has(.about__image) > .about__content + .about__form {
    padding-top: 0px;
  }
}
.about__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-width: 760px;
  gap: 45px;
}
@media (max-width: 700px) {
  .about__content {
    gap: 30px;
  }
}
@media (max-width: 500px) {
  .about__content {
    align-items: center;
  }
}
.about__subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5em;
}
@media (max-width: 800px) {
  .about__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .about__subtitle {
    font-size: 14px;
  }
}
.about__paragraph {
  font-size: 20px;
  line-height: 1.5em;
}
@media (max-width: 800px) {
  .about__paragraph {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .about__paragraph {
    font-size: 14px;
  }
}
.about__paragraph + .about__paragraph {
  margin-top: 1.5em;
}
.about__image {
  border-radius: 50%;
  width: 200px;
  aspect-ratio: 1;
}
@media (max-width: 500px) {
  .about__image {
    width: 170px;
  }
}
.about__form {
  max-width: 422px;
}

/* < ---/ ABOUT /--- > */
/* < --- FORM --- > */
.form__title {
  font-size: 30px;
  line-height: 1.3em;
}
@media (max-width: 800px) {
  .form__title {
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  .form__title {
    display: block;
    text-align: center;
    font-size: 20px;
  }
}

.contact-form {
  width: min(100%, 422px);
}
@media (max-width: 500px) {
  .contact-form {
    width: min(100%, 300px);
    margin: 0 auto;
  }
}
.contact-form__name, .contact-form__email, .contact-form__textarea {
  line-height: 1.5em;
  width: 100%;
  padding: 22px 32px;
  border-radius: 107px;
  border: 1px solid rgba(40, 40, 40, 0.4);
  background: rgba(255, 255, 255, 0.02);
}
@media (max-width: 800px) {
  .contact-form__name, .contact-form__email, .contact-form__textarea {
    border-radius: 25px;
    padding: 18px 25px;
  }
}
@media (max-width: 700px) {
  .contact-form__name, .contact-form__email, .contact-form__textarea {
    font-size: 14px;
    border-radius: 20px;
    padding: 15px 20px;
  }
}
.contact-form__name:hover, .contact-form__name:focus, .contact-form__email:hover, .contact-form__email:focus, .contact-form__textarea:hover, .contact-form__textarea:focus {
  border: 1px solid #6a87ec;
}
.contact-form__name::placeholder, .contact-form__email::placeholder, .contact-form__textarea::placeholder {
  color: rgba(40, 40, 40, 0.4);
}
.contact-form__name {
  font-size: 16px;
  margin-top: 45px;
}
@media (max-width: 800px) {
  .contact-form__name {
    margin-top: 30px;
  }
}
@media (max-width: 700px) {
  .contact-form__name {
    font-size: 14px;
  }
}
.contact-form__email {
  margin-top: 24px;
}
@media (max-width: 700px) {
  .contact-form__email {
    margin-top: 20px;
  }
}
.contact-form__textarea {
  display: block;
  height: 160px;
  width: calc(100% - 30px);
  padding: 22px 10px 22px 32px;
  border-radius: 30px;
  resize: none;
  border: none;
}
@media (max-width: 800px) {
  .contact-form__textarea {
    width: calc(100% - 25px);
    padding: 18px 10px 18px 25px;
  }
}
@media (max-width: 700px) {
  .contact-form__textarea {
    width: calc(100% - 20px);
    font-size: 14px;
    padding: 15px 10px 15px 20px;
  }
}
.contact-form__textarea:hover, .contact-form__textarea:focus {
  border: none;
  outline: none;
}
.contact-form__textarea::-webkit-scrollbar {
  width: 8px;
}
.contact-form__textarea::-webkit-scrollbar-thumb {
  background-color: #6a87ec;
}
.contact-form__textarea-wrapper {
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 30px;
  margin-top: 24px;
  border: 1px solid rgba(40, 40, 40, 0.4);
}
@media (max-width: 800px) {
  .contact-form__textarea-wrapper {
    border-radius: 25px;
  }
}
@media (max-width: 700px) {
  .contact-form__textarea-wrapper {
    border-radius: 20px;
    margin-top: 20px;
  }
}
.contact-form__textarea-wrapper:hover, .contact-form__textarea-wrapper:focus {
  background-color: transparent;
  border: 1px solid #6a87ec;
}
.contact-form__checkbox {
  display: block;
  position: relative;
  font-size: 10px;
  letter-spacing: 0.03em;
  line-height: 1.3em;
  cursor: pointer;
  margin-top: 24px;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 700px) {
  .contact-form__checkbox {
    margin-top: 20px;
  }
}
.contact-form__checkbox a {
  transition-property: color;
  transition-duration: 0.3s;
  text-decoration: underline;
}
.contact-form__checkbox a:hover {
  text-decoration: none;
  color: #6a87ec;
}
.contact-form__button {
  padding: 20px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  border-radius: 107px;
  margin-top: 30px;
}
@media (max-width: 800px) {
  .contact-form__button {
    font-size: 14px;
    padding: 16px 20px;
  }
}
@media (max-width: 700px) {
  .contact-form__button {
    margin-top: 20px;
  }
}

p:has(.contact-form__textarea:hover, .contact-form__textarea:focus) {
  border: 1px solid #6a87ec;
  background-color: transparent;
}

.check {
  padding-left: 3em;
}
.check__input {
  position: absolute;
  appearance: none;
}
.check__box {
  position: absolute;
  margin-top: 0.6em;
  margin-left: -2.7em;
  width: 1.4em;
  height: 1.4em;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.2em #f4f4f4, 0 0 0 0.3em #6a87ec;
}
.check__input:checked + .check__box {
  background-color: #6a87ec;
}

.contact-form__checkbox > span:not(.check__box) {
  position: absolute;
  margin-top: -1em;
  margin-left: -1em;
}
.contact-form br {
  display: none;
}

.check__input:checked + span > .check__box {
  background-color: #6a87ec;
}

input.wpcf7-not-valid {
  border: 1px solid #6a87ec;
}

textarea.wpcf7-not-valid {
  border: 1px solid transparent;
}

p.contact-form__textarea-wrapper:has(textarea.wpcf7-not-valid) {
  border: 1px solid #6a87ec;
}

.wpcf7-spinner,
.wpcf7-response-output {
  display: none;
}

.wpcf7-not-valid-tip {
  position: absolute;
  bottom: -44px;
  left: 32px;
  color: #6a87ec;
  font-size: 12px;
}
@media (max-width: 800px) {
  .wpcf7-not-valid-tip {
    left: 25px;
  }
}
@media (max-width: 700px) {
  .wpcf7-not-valid-tip {
    bottom: -32px;
    left: 20px;
  }
}

textarea + .wpcf7-not-valid-tip {
  bottom: initial;
}

/* < ---/ FORM /--- > */
/* < --- PUBLICATION --- > */
.publication {
  padding: 40px 0;
}
.publication__back {
  margin-top: 40px;
}
@media (max-width: 800px) {
  .publication__back {
    margin-top: 20px;
  }
}
.publication__banner {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 90px;
}
@media (max-width: 800px) {
  .publication__banner {
    margin-top: 50px;
    height: 300px;
  }
}
@media (max-width: 500px) {
  .publication__banner {
    height: 200px;
  }
}
.publication__content {
  margin-top: 90px;
}
@media (max-width: 800px) {
  .publication__content {
    margin-top: 50px;
  }
}
.publication__content p {
  line-height: 1.5em;
  margin-top: 1.5em;
}
@media (max-width: 700px) {
  .publication__content p {
    font-size: 12px;
  }
}
.publication__content p:first-child {
  margin-top: 0;
}
.publication__content-news p {
  line-height: 1.7em;
}
.publication__time {
  margin-top: 40px;
}
@media (max-width: 700px) {
  .publication__time {
    margin-top: 25px;
  }
}

/* < ---/ PUBLICATION /--- > *//*# sourceMappingURL=style.css.map */