@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.ttf") format("TrueType");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.ttf") format("TrueType");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.ttf") format("TrueType");
  font-weight: 900;
  font-style: normal;
}
/* < --- RESET CSS --- > */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* < ---/ RESET CSS /--- > */
/* < --- VARIABLES --- > */
/* < --- VARIABLES --- > */
/* < --- COMPONENTS --- > */
body {
  color: #282828;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3em;
  background-color: #f4f4f4;
  overflow-x: hidden;
}
body > div {
  overflow-x: hidden;
}
body._active {
  overflow: hidden;
}
body._active > div {
  overflow: hidden;
}

html,
body {
  scroll-behavior: smooth;
}

a {
  color: #282828;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 50px;
  line-height: 1.3em;
}

h2,
h3 {
  font-size: 40px;
}
@media (max-width: 700px) {
  h2,
  h3 {
    font-size: 30px;
  }
}

strong {
  font-weight: 600;
}

.container-outer {
  max-width: 1336px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-inner {
  max-width: 856px;
  margin: 0 auto;
}

.swiper {
  box-sizing: content-box;
}

.button {
  display: inline-block;
  border-radius: 50px;
  color: #ffffff;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  background-color: #282828;
}
.button:hover {
  background-color: #6a87ec;
}
.button_accent {
  background-color: #6a87ec;
}
.button_accent:hover {
  background-color: #282828;
}
.button_selected {
  background-color: #6a87ec;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
@media (max-width: 700px) {
  .cards {
    gap: 18px;
  }
}
@media (max-width: 500px) {
  .cards {
    flex-direction: column;
    gap: 10px;
  }
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  transition-property: background-color, box-shadow;
  transition-duration: 0.3s;
  overflow: hidden;
  border-radius: 10px;
}
.card:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.08);
}
.card_accent {
  background-color: #6a87ec;
}
.card_accent:hover {
  background-color: #6a87ec;
}

.time {
  display: inline-block;
  font-size: 12px;
  color: #282828;
  opacity: 0.5;
}

.section-title {
  line-height: 1.3em;
  text-wrap: balance;
  font-size: 50px;
}
@media (max-width: 800px) {
  .section-title {
    font-size: 40px;
    margin-bottom: 25px;
  }
}
@media (max-width: 500px) {
  .section-title {
    font-size: 30px;
  }
}
.section-description {
  display: inline-block;
  line-height: 1.5em;
}
@media (max-width: 700px) {
  .section-description {
    font-size: 12px;
  }
}

.more,
.back {
  position: relative;
  font-size: 16px;
  transition: color 0.3s;
  padding-right: 25px;
}
@media (max-width: 800px) {
  .more,
  .back {
    font-size: 14px;
  }
}
.more:hover,
.back:hover {
  color: #6a87ec;
}

.more::after {
  content: "";
  position: absolute;
  display: block;
  width: 17px;
  height: 5px;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(/assets/images/icons/more-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.3s;
}
.more:hover::after {
  background-image: url(/assets/images/icons/more-arrow-hover.svg);
}

.logo {
  width: 150px;
  aspect-ratio: 150/28;
  z-index: 4;
}
@media (max-width: 800px) {
  .logo {
    width: 120px;
  }
}

nav.pagination {
  display: flex;
  justify-content: center;
  gap: 7px;
}
nav.pagination > .page-numbers {
  padding: 12px 18px;
  border: 1px solid #6a87ec;
  border-radius: 5px;
  font-size: 16px;
  color: #6a87ec;
  background-color: #f4f4f4;
  transition: background-image, background-color 0.3s;
}
@media (max-width: 500px) {
  nav.pagination > .page-numbers {
    font-size: 14px;
    padding: 10px 15px;
  }
}
nav.pagination > .page-numbers:hover {
  background-color: #6a87ec;
  color: #ffffff;
}
nav.pagination > .page-numbers.current {
  background-color: #6a87ec;
  color: #ffffff;
}
nav.pagination > .page-numbers.dots {
  border: none;
}
nav.pagination > .page-numbers.dots:hover {
  background-color: #f4f4f4;
  color: #282828;
}
nav.pagination > .page-numbers.prev, nav.pagination > .page-numbers.next {
  background-image: url(../images/icons/pagination-arrow.svg);
  background-position: 50%;
  background-size: 16px 8px;
  background-repeat: no-repeat;
}
nav.pagination > .page-numbers.prev:hover, nav.pagination > .page-numbers.next:hover {
  background-image: url(../images/icons/pagination-arrow-hover.svg);
}
nav.pagination > .page-numbers.prev {
  transform: rotateZ(180deg);
}

/* < ---/ COMPONENTS /--- > */
/* < --- HEADER --- > */
.header {
  padding: 50px 0;
}
@media (max-width: 700px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 5;
    padding: 30px 0;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo .logo__image {
  width: 100%;
  height: 100%;
  background-size: contain;
}
.header__logo .logo__link {
  display: block;
  width: 100%;
  height: 100%;
}
.header__menu {
  position: relative;
}
.header::before {
  display: none;
  content: "";
  background-color: #f4f4f4;
  position: absolute;
  inset: 0;
  z-index: 1;
}
@media (max-width: 700px) {
  .header::before {
    display: block;
  }
}

.menu {
  z-index: 4;
}
@media (max-width: 700px) {
  .menu {
    z-index: 0;
    top: calc(100% - 100vh);
    position: absolute;
    left: 0;
    transition-property: top;
    transition-duration: 0.5s;
    background-color: #f4f4f4;
    width: 100vw;
    height: 100vh;
    padding: 122px 20px 50px 20px;
  }
}
.menu__icon {
  display: none;
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
@media (max-width: 700px) {
  .menu__icon {
    display: block;
  }
}
.menu__icon span {
  transition: 0.2s ease 0s;
  line-height: 3px;
  top: calc(50% - 1.5px);
  left: 4px;
  position: absolute;
  width: 22px;
  height: 3px;
  background-color: #282828;
  border-radius: 2px;
}
.menu__icon span:first-child {
  top: 4px;
}
.menu__icon span:last-child {
  top: auto;
  bottom: 4.5px;
}
.menu__icon._active span {
  transform: scale(0);
}
.menu__icon._active span:first-child {
  transform: translateX(-1.5px) rotate(-45deg);
  top: calc(50% - 1.5px);
  left: 6.1px;
}
.menu__icon._active span:last-child {
  transform: translateX(-1.5px) rotate(45deg);
  bottom: calc(50% - 1.5px);
  left: 6.1px;
}
.menu__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: min(1.6vw, 45px);
}
@media (max-width: 700px) {
  .menu__list {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
@media (max-width: 700px) {
  .menu__item {
    width: 50%;
  }
}
.menu__link {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  transition: color 0.3s;
}
@media (max-width: 800px) {
  .menu__link {
    font-size: 12px;
  }
}
.menu__link:hover {
  color: #6a87ec;
}
.menu._active {
  top: 0;
  display: block;
}

/* < ---/ HEADER /--- > */
/* < --- HERO --- > */
.hero {
  padding: 45px 0;
}
.hero__banner {
  background-image: url("/assets/images/img/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 165px 105px;
}
@media (max-width: 800px) {
  .hero__banner {
    padding: 120px 70px;
  }
}
@media (max-width: 500px) {
  .hero__banner {
    padding: 80px 30px;
  }
}
.hero__title {
  color: #ffffff;
  font-size: 60px;
}
@media (max-width: 800px) {
  .hero__title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .hero__title {
    font-size: 30px;
  }
}

/* < ---/ HERO /--- > */
/* < --- INTRO --- > */
.intro-quote {
  padding: 80px 0 100px 0;
}
@media (max-width: 500px) {
  .intro-quote {
    padding: 40px 0 60px 0;
  }
}
.intro-quote__container {
  display: grid;
  max-width: 1096px;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
@media (max-width: 700px) {
  .intro-quote__container {
    grid-template-columns: 100%;
    gap: 50px;
  }
}
@media (max-width: 500px) {
  .intro-quote__container {
    gap: 40px;
  }
}
.intro-quote__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 160px;
}
@media (max-width: 800px) {
  .intro-quote__wrapper {
    padding-top: 120px;
  }
}
@media (max-width: 500px) {
  .intro-quote__wrapper {
    padding-top: 80px;
  }
}
.intro-quote__wrapper-left {
  position: relative;
  padding-right: min(2.6vw, 110px);
  gap: 45px;
}
@media (max-width: 1000px) {
  .intro-quote__wrapper-left {
    padding-right: 0;
  }
}
@media (max-width: 800px) {
  .intro-quote__wrapper-left {
    gap: 30px;
  }
}
.intro-quote__wrapper-left::before {
  content: "“";
  display: block;
  position: absolute;
  top: 0;
  color: #6a87ec;
  font-size: 200px;
  line-height: 1em;
  font-weight: 900;
}
@media (max-width: 800px) {
  .intro-quote__wrapper-left::before {
    font-size: 150px;
  }
}
@media (max-width: 500px) {
  .intro-quote__wrapper-left::before {
    font-size: 100px;
  }
}
@media (max-width: 700px) {
  .intro-quote__wrapper-right {
    padding-top: 0;
  }
}
.intro-quote__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.7em;
  text-wrap: balance;
}
@media (max-width: 800px) {
  .intro-quote__title {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .intro-quote__title {
    font-size: 16px;
  }
}
.intro-quote__description {
  font-size: 16px;
  line-height: 2.1em;
}
@media (max-width: 800px) {
  .intro-quote__description {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .intro-quote__description {
    font-size: 12px;
  }
}
.intro-quote__button {
  font-size: 14px;
  line-height: 1.7em;
  padding: 10px 55px;
}
@media (max-width: 500px) {
  .intro-quote__button {
    font-size: 12px;
    padding: 10px 35px;
  }
}

/* < ---/ INTRO /--- > */
/* < --- BLOG --- > */
.blog {
  padding: 50px 0;
}
@media (max-width: 950px) {
  .blog__container {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .blog__container {
    max-width: none;
  }
}
.blog__title {
  display: inline-block;
}
@media (max-width: 950px) {
  .blog__title {
    margin-left: 20px;
  }
}
@media (max-width: 800px) {
  .blog__title {
    margin-bottom: 0;
  }
}
@media (max-width: 500px) {
  .blog__title {
    display: block;
    text-align: center;
  }
}
.blog__more {
  margin-left: 25px;
}
@media (max-width: 500px) {
  .blog__more {
    display: block;
    width: max-content;
    margin: 0 auto;
    margin-top: 10px;
  }
}
.blog__description {
  display: block;
  margin: 0 auto;
  margin-bottom: 90px;
  max-width: 300px;
  text-align: center;
}
@media (max-width: 700px) {
  .blog__description {
    margin-bottom: 40px;
  }
}
.blog__swiper {
  margin-top: 70px;
  height: 380px;
  overflow: visible;
}
@media (max-width: 800px) {
  .blog__swiper {
    margin-top: 40px;
  }
}
@media (max-width: 950px) {
  .blog__swiper {
    height: 300px;
    padding: 0 20px 50px 20px;
  }
}
@media (max-width: 768px) {
  .blog__swiper {
    padding: 0 max((100% - 636px) / 2, 20px) 40px max((100% - 636px) / 2, 20px);
  }
}
@media (max-width: 540px) {
  .blog__swiper {
    height: 260px;
  }
}

.blog-item__link {
  display: block;
  width: 100%;
  height: 100%;
}
.blog-item__image-banner {
  width: 100%;
  height: 100%;
  background-image: url(../images/img/banner-416x370.jpg);
  background-size: cover;
  background-position: 50%;
}
@media (max-width: 1250px) {
  .blog-item__image-banner {
    background-image: url(../images/img/banner-690x420.jpg);
  }
}
@media (max-width: 1100px) {
  .blog-item__image-banner {
    background-image: url(../images/img/banner-580x420.jpg);
  }
}
@media (max-width: 800px) {
  .blog-item__image-banner {
    background-image: url(../images/img/banner-416x370.jpg);
  }
}
@media (max-width: 600px) {
  .blog-item__image-banner {
    height: 312px;
  }
}
.blog-item__image, .blog-item img {
  width: 100%;
  height: 216px;
  object-fit: cover;
}
@media (max-width: 950px) {
  .blog-item__image, .blog-item img {
    height: 156px;
  }
}
@media (max-width: 540px) {
  .blog-item__image, .blog-item img {
    height: 126px;
  }
}
.blog-item__wrapper {
  padding: 28px 25px;
}
@media (max-width: 1160px) {
  .blog-item__wrapper {
    padding: 18px;
  }
}
@media (max-width: 540px) {
  .blog-item__wrapper {
    padding: 12px;
  }
}
.blog-item__category {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  transition: color 0.3s;
  margin-bottom: 15px;
}
.blog-item__time {
  display: none;
  transition: color 0.3s;
}
.blog-item__title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  min-height: 1.3em;
  overflow: hidden;
  transition: color 0.3s;
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 700;
  margin-bottom: 0.8em;
}
@media (max-width: 1160px) {
  .blog-item__title {
    font-size: 14px;
  }
}
.blog-item__description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 5.2em;
  line-height: 1.3em;
}
.news-swiper .blog-item__title {
  font-weight: 400;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  min-height: 3.9em;
  overflow: hidden;
}
.news-swiper .blog-item__description {
  display: none;
}
.news-swiper .blog-item__time {
  display: block;
}

.swiper-pagination-bullet {
  background-color: #6a87ec;
}

/* < ---/ BLOG /--- > */
/* < --- FOOTER --- > */
.footer {
  padding: 125px 0 55px 0;
}
@media (max-width: 800px) {
  .footer {
    padding: 75px 0 20px 0;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  border-radius: 20px;
  padding: 80px min(6vw, 85px) 70px;
}
@media (max-width: 700px) {
  .footer__container {
    padding: 50px min(6vw, 85px) 40px;
  }
}
@media (max-width: 500px) {
  .footer__container {
    flex-direction: column;
    gap: 20px;
  }
}
.footer__copyright {
  color: #ffffff;
  line-height: 1.7em;
  font-size: 10px;
}

/* < ---/ FOOTER /--- > *//*# sourceMappingURL=style.css.map */