footer.footer
    .container-outer
        .footer__container
                .logo.footer__logo
                    a.logo__link(href="index.html")
                        img.logo__image(src="./assets/images/icons/logo-light.svg", alt="")
                p.copyright.footer__copyright © 2023 Все права защищены
script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
script(src="assets/js/sliders.js")
script(src="assets/js/script.js")