header.header 
    .container-outer.header__container
        .logo.header__logo
            a.logo__link(href='index.html')
                img.logo__image(src='/assets/images/icons/logo.svg' alt='')
        .menu__icon
            span
            span
            span
        nav.menu.header__menu
            ul.menu__list
                li.menu__item
                    a.menu__link(href='about.html') Обо мне
                li.menu__item
                    a.menu__link(href='blog.html') Блог
                li.menu__item
                    a.menu__link(href='news.html') Новости