mixin intro(type)
    case type
        when 'quote'
            section.intro.intro-quote 
                .container-outer.intro-quote__container 
                    .intro-quote__wrapper.intro-quote__wrapper-left 
                        span.intro-quote__title.
                            Меня зовут Наталья Лагутенкова,<br>
                            и я рада приветствовать вас в моем блоге.
                        a.button.intro-quote__button(href="about.html") Подробнее
                    .intro-quote__wrapper.intro-quote__wrapper-right
                        p.intro-quote__description. 
                            Я являюсь кризисным менеджером и имею большой опыт
                            в таких вертикалях, как iGaming, Betting, Finance и E-Com. 
                            Закончила факультет психологии в Университете им. Герцена,
                            а также получила дополнительное образование по направлению финансы, 
                            экономика и управление предприятием.
        when 'foto'
            section.intro.intro-foto 
                .container-outer.intro-foto__container 
                    .intro-foto__wrapper.intro-foto__wrapper-left 
                        img.intro-foto__image(src="/assets/images/img/about.png", alt="Фото-портрет")
                    .intro-foto__wrapper.intro-foto__wrapper-right
                        span.intro-foto__title.
                            Меня зовут Наталья Лагутенкова,<br>
                            и я рада приветствовать вас в моем блоге.
                        p.intro-foto__description. 
                            Я являюсь кризисным менеджером и имею большой опыт
                            в таких вертикалях, как iGaming, Betting, Finance и E-Com. 
                            Закончила факультет психологии в Университете им. Герцена,
                            а также получила дополнительное образование по направлению финансы, 
                            экономика и управление предприятием.
                        a.button.intro-foto__button(href="about.html") Подробнее
        default 
            section.intro 
                .container-outer
                    .container-inner.intro__container 
                        span.intro__title.
                            Меня зовут Наталья Лагутенкова,<br>
                            и я рада приветствовать вас в моем блоге.
                        p.intro__description. 
                            Я являюсь кризисным менеджером и имею большой опыт
                            в таких вертикалях, как iGaming, Betting, Finance и E-Com. 
                            Закончила факультет психологии в Университете им. Герцена,
                            а также получила дополнительное образование по направлению финансы, 
                            экономика и управление предприятием.
                        a.button.intro__button(href="about.html") Подробнее

mixin about(layout, foto)
    section.about 
        .container-outer 
            h1.section-title.about__title #{title}
            .about__layout(class={'about__layout_sidebar-right': layout == 'sidebar-right'})
                .about__content 

                    //- - let foto = 'about.png'
                    //- - foto = ''
                    if (foto)
                        img.about__image(src="/assets/images/img/" + foto, alt="Фото-портрет")
                        h2.about__subtitle Наталья Лагутенкова,<br> Кризисный Менеджер

                    .about__text-wrapper 
                        p.about__paragraph.
                            Как профессионал в областях iGaming, Betting, Finance и E-Com, я здесь для того, 
                            чтобы поделиться с вами своим обширным опытом, идеями и знаниями. На протяжении многих лет 
                            я сталкивалась с бесчисленными испытаниями и невзгодами в этих динамично развивающихся отраслях, 
                            оттачивая свои навыки и вооружаясь инструментами, позволяющими справиться с любым кризисом.
                        p.about__paragraph.
                            Я верю в силу обмена опытом, и в этом блоге вы найдете примеры
                            из реальной жизни, истории успеха, интересные кейсы и немного юмора. 
                            Я буду предоставлять исчерпывающие обзоры и анализ наиболее актуальных новостей и событий. 
                            Кроме того, мой блог — не просто улица с односторонним движением. 
                            Я поощряю обсуждения, мнения и вопросы от всех вас. 
                            Вместе мы сможем создать динамичное сообщество единомышленников.
                aside.about__form
                    .form
                        span.form__title Для связи<br> со мной
                        form.contact-form.form__contact-form(action="")
                            input.contact-form__name(type="text", placeholder="Ваше имя*", required)
                            input.contact-form__email(type="email", placeholder="E-mail*", required)
                            p.contact-form__textarea-wrapper
                                textarea.contact-form__textarea(name="text", placeholder="Ваше сообщение*", required)
                            label.contact-form__checkbox.check.text
                                input.check__input.visually-hidden(type="checkbox", required, checked)
                                span.check__box.
                                By signing and clicking Submit, you affirm you have read and agree
                                to the Privacy Policy and Terms of Use and want to receive news
                            button.contact-form__button.button.button_accent(type="submit") Отправить
mixin recent-posts(full)
    section.blog
        .container-outer.blog__container
            if (full=full)
                h2.blog__title.section-title Блог
                a.more.blog__more(href="blog.html") Читать все
            .blog__swiper.swiper.blog-swiper
                .swiper-wrapper
                    .card.blog-item.swiper-slide
                        a.blog-item__link(href="blog-publication.html")
                            img.blog-item__image(src="/assets/images/img/blog-1.png", alt="blog image")
                            .blog-item__wrapper
                                h3.blog-item__title Обзор сайта АКЦ
                                p.blog-item__description. 
                                    Сетевое издание “Обзор рынков” — это источник всесторонней бизнес-информации, 
                                    предоставляющий наиболее актуальные данные в таких отраслях...
                    .card.blog-item.swiper-slide
                        a.blog-item__link(href="blog-publication.html")
                            img.blog-item__image(src="/assets/images/img/blog-2.png", alt="blog image")
                            .blog-item__wrapper
                                h3.blog-item__title Обзор сайта АКЦ
                                p.blog-item__description. 
                                    Сетевое издание “Обзор рынков” — это источник всесторонней бизнес-информации, 
                                    предоставляющий наиболее актуальные данные в таких отраслях...
                    .card.blog-item.swiper-slide
                        a.blog-item__link(href="blog-publication.html")
                            img.blog-item__image(src="/assets/images/img/blog-3.png", alt="blog image")
                            .blog-item__wrapper
                                h3.blog-item__title Обзор сайта АКЦ
                                p.blog-item__description. 
                                    Сетевое издание “Обзор рынков” — это источник всесторонней бизнес-информации, 
                                    предоставляющий наиболее актуальные данные в таких отраслях...
                .swiper-pagination

mixin recent-news(full)
    section.blog
        .container-outer.blog__container
            if (full=full)
                h2.blog__title.section-title Новости
                a.more.blog__more(href="news.html") Все новости
            .blog__swiper.swiper.news-swiper
                .swiper-wrapper
                    .card.blog-item.swiper-slide
                        a.blog-item__link(href="news-publication.html")
                            img.blog-item__image(src="/assets/images/img/news-1.png", alt="blog image")
                            .blog-item__wrapper
                                h3.blog-item__title.
                                    Букмекер выставил коэффициент
                                    20,00 на то, что итальянские клубы
                                    выиграют все еврокубки
                                time.time.blog-item__time 10.05.2023
                    .card.blog-item.swiper-slide
                        a.blog-item__link(href="news-publication.html")
                            img.blog-item__image(src="/assets/images/img/news-2.png", alt="blog image")
                            .blog-item__wrapper
                                h3.blog-item__title.
                                    Игровые автоматы вновь появились
                                    в торговых центрах и подземных
                                    переходах Татарстана
                                time.time.blog-item__time 02.05.2023
                    .card.blog-item.swiper-slide
                        a.blog-item__link(href="news-publication.html")
                            img.blog-item__image(src="/assets/images/img/news-3.png", alt="blog image")
                            .blog-item__wrapper
                                h3.blog-item__title.
                                    В России объём рынка киберспортивных
                                    клубов достиг 20 миллиардов рублей
                                time.time.blog-item__time 17.04.2023
                .swiper-pagination