/* < --- BLOG-LIST --- > */

.blog-list {
    padding: 40px 0;
    // @media (max-width: 768px) {
    //     padding: 50px 0 75px 0;
    // }
    &__title {
        @media (max-width: 500px) {
            text-align: center;
            // margin-bottom: 1.6em;
            // @media (max-width: 700px) {
            //     margin-bottom: 40px;
            // }
        }
    }
    // &__description {
    //     text-align: center;
    //     max-width: 856px;
    //     line-height: $line-height-2;
    //     margin: 0 auto;
    //     margin-bottom: 60px;
    //     @media (max-width: 700px) {
    //         font-size: $font-size-s;
    //         margin-bottom: 40px;
    //     }
    //     @media (max-width: 500px) {
    //         margin-bottom: 30px;
    //     }
    // }
    // &__filter {
    //     margin-bottom: 75px;
    //     @media (max-width: 768px) {
    //         margin-bottom: 60px;
    //     }
    //     @media (max-width: 540px) {
    //         margin-bottom: 40px;
    //     }
    // }
    & .blog-item {
        max-height: 370px;
        // overflow: hidden;
        @media (max-width: 768px) {
            max-height: 362px;
        }
        &__description {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
        }
        // &:nth-child(5) {
        //     @media (max-width: 768px) {
        //         // height: 362px;
        //     }
        //     .blog-item__image {
        //         height: 100%;
        //     }
        //     .blog-item__wrapper {
        //         display: none;
        //     }
        // }
    }
    &__grid-layout {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;
        gap: 24px;
        margin-top: 100px;
        @media (max-width: 800px) {
            margin-top: 50px;
        }
        @media (max-width: 900px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            gap: 40px;
        }
    }
    // & .forecast-item {
    //     // max-height: 273px;
    // }
}
// .filter {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-wrap: wrap;
//     gap: 20px;
//     @media (max-width: 768px) {
//         gap: 15px;
//     }
//     @media (max-width: 700px) {
//         max-width: 320px;
//         margin-inline: auto;
//     }
//     &__link {
//         text-transform: uppercase;
//         border-radius: 50px;
//         padding: 16px 25px;
//         @media (max-width: 800px) {
//             font-size: $font-size-s;
//             padding: 12px 20px;
//         }
//         @media (max-width: 540px) {
//             font-size: 12px;
//         }
//     }
// }
.grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    // margin-bottom: 70px;
    @media (max-width: 1250px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 950px) {
        gap: 20px;
    }
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    @media (max-width: 600px) {
        grid-template-columns: min(100%, 350px);
        gap: 20px;
        justify-content: center;
    }
    @media (max-width: 500px) {
        // margin-bottom: 40px;
    }
}
// .forecast__grid-layout {
// }

/* < ---/ BLOG-LIST /--- > */
