/* < --- VARIABLES --- > */

$bg-color: #f4f4f4;

$card-bg: rgba(#ffffff, 0.5);
// $card-bg-hover: ;

$text-light: #ffffff;
$text-dark: #282828;
$text-accent: #6a87ec;

$button-dark: #282828;
$button-light: #ffffff;
$button-accent: #6a87ec;

$accent-color: #6a87ec;
// $accent-color-dark: ;
// $accent-color-secondary: ;

$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;

$transition: 0.3s;

$regular: 400;
$medium: 500;
$bold: 600;
$semibold: 700;
$black: 900;

$line-height-1: 1.3em;
$line-height-2: 1.5em;
$line-height-3: 1.7em;
$line-height-4: 2.1em;

/* < --- VARIABLES --- > */
